// 
// authentication.scss
//


// authentication

.authentication-bg{
    background-color: $auth-bg;
    .auth-logo{
        .logo{
            margin: 0px auto;
        }
    }

}

// Login 
.background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgba(255, 254, 254, 0.9), rgba(255, 255, 255, 0.9)), url("/images/total1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    block-size: 100%;
    height: 90vh;
    inline-size: 100%;
  }

  
  .custom-img-size {
    width: 100%;
    max-width: 210px;
  }
  
  @media (max-width: 768px) { /* Pour les tablettes */
    .background {
        flex-direction: column; /* Empile verticalement en mode téléphone */
        align-items: flex-start; /* Aligner les éléments en haut */
        justify-content: flex-start;
        height: 90vh;
      }

    .custom-img-size {
      max-width: 150px;
    }
  }
  
  @media (max-width: 576px) { /* Pour les téléphones */
    .background {
      flex-direction: column; /* Empile verticalement en mode téléphone */
      align-items: flex-start; /* Aligner les éléments en haut */
      justify-content: flex-start;
      height: 70vh;
    }
  
    .custom-img-size {
      max-width: 80px;
    }
  }
  

// signin card title

.signin-other-title{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        background-color: var(--#{$prefix}border-color);
        top: 10px;
    }

    .title{
        display: inline-block;
        position: relative;
        z-index: 9;
        background-color: $card-bg;
        padding: 2px 16px;
    }
}


// auth carousel

.auth-carousel{
    &.owl-theme {
        .owl-dots {
            .owl-dot {
                span{
                    background-color: $card-bg;
                }
                &.active{
                    span{
                        background-color: $primary;
                    }
                }
            }
        }
    }
}